---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-primary);
    font-weight: 400;
    font-style: normal;
    color: var(--color-primary);
    text-rendering: optimizeLegibility;
    background: var(--color-primary-bg);
  }
</style>
